
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  @font-face {
    font-family: "starwars";
    src: url("assets/fonts/SF Distant Galaxy Alternate.ttf");
  }
  
  body {
    background-image: url("assets/images/star-background.jpg");
    font-family: "starwars";
    font-size: 15px;
    color: black;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
      0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
      
      
  }
  
  
  header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    margin: 1rem 0;
    line-height: 1.5;
    text-align: justify;
  }
  
  @media screen and (max-width: 600px) {
    main {
      padding: 1rem;
    }
  }
  
  
  
 